.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.header__logo {
  font-family: var(--font-secondary);
  font-size: 3rem;
  font-weight: 600;
  color: var(--heading-color);
}

.dark__icon,
.light__icon {
  cursor: pointer;
  transition: 0.5s;
  background-color: transparent;
  border: none;
  outline: none;
}
.dark__icon:hover {
  opacity: 70%;
}
.light__icon:hover {
  opacity: 70%;
}
