@import "./main.css";

/* Katta sarlavha */
.main__heading {
  text-align: center;
  font-size: 4rem;
  font-family: var(--font-primary);
  font-weight: 600;
  color: var(--heading-color);
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* Orta qism */
.middle {
}

/* Formani o‘rtaga joylash */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Input */
.form__input {
  width: 500px;
  max-width: 100%;
  padding: 1rem;

  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid var(--light-gray); /* har ikki rejimga mos */

  background-color: var(--primary-color);
  color: var(--text-color);
  outline: none;

  font-size: 1.3rem;
  font-weight: 600;
  font-family: var(--font-primary);
  border-radius: 4px;
}

/* Placeholder */
input::placeholder {
  font-family: var(--font-primary);
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--text-black); /* light: qora, dark: oq */
}

/* Button */
.form__button {
  border-radius: 3px;
  font-family: var(--font-primary);
  padding: 1rem 3rem;
  font-size: 1.5rem;

  background-color: var(--heading-color); /* light: qora, dark: oq */
  color: var(--primary-color); /* light: oq, dark: chuqur ko‘k */
  border: none;
  cursor: pointer;

  transition: all 0.3s ease;
}

.form__button:hover {
  background-color: var(--tertiary-color); /* hoverda ochroq rang */
  color: var(--text-color);
}
