.card__container {
  margin: 0 auto;
  padding: 2rem;
}

.user__card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}
.user__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 2rem 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  text-align: center;
  position: relative;
}

.user__item::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 1rem;
  padding: 2px;
  background: linear-gradient(
    45deg,
    var(--gradient-from),
    var(--gradient-via),
    var(--gradient-to)
  );
  background-size: 400%;
  z-index: -1;
  transition: opacity 0.4s ease;
  opacity: 0;
}

.user__item:hover::before {
  opacity: 1;
  animation: borderGradient 2s linear infinite;
}

@keyframes borderGradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.user__item:hover {
  transform: scale(1.03);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.user__img {
  border: solid 1px var(--gray);
  border-radius: 50%;
}
.user__name,
.user__age,
.user__location,
.user__gender {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--font-primary);
  font-weight: 300;
  font-size: 1.8rem;
  color: var(--heading-color);
  padding: 0.7rem;
}

.delete__btn {
  font-family: var(--font-primary);
  font-size: 1.5rem;
  padding: 0.7rem 0.8rem;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  background-color: var(--heading-color);
  transition: all 0.3s ease;
  color: var(--text-white);
}
.delete__btn:hover {
  background-color: var(--tertiary-color);
  color: var(--text-color);
}
