:root {
  /* Neutral */
  --primary-color: #ffffff;
  --secondary-color: #f2f2f7;
  --tertiary-color: #e4e4ef;
  --text-color: #12131a;
  --heading-color: #12131a;

  /* Gray / Border */
  --light-gray: #e4e4ef;
  --gray: #f2f2f7;

  /* Text */
  --text-white: #ffffff;
  --text-black: #12131a;

  /* Font family */
  --font-secondary: "Space Mono", monospace;
  --font-primary: "DM Sans";

  --gradient-from: var(--tertiary-color); /* #e4e4ef */
  --gradient-via: var(--secondary-color); /* #f2f2f7 */
  --gradient-to: var(--primary-color);
}

body.dark__mode {
  /* Neutral - Dark Mode */
  --primary-color: #0d1b2a; /* Asosiy fon (chuqur ko‘k) */
  --secondary-color: #1b263b; /* Sekundar fon (biroz yengil) */
  --tertiary-color: #415a77; /* Yuzalar, karta orqa fon (ko‘k-kulrang) */
  --text-color: #e0e1dd; /* Asosiy matn rangi (yorqin oq-kulrang) */
  --heading-color: #ffffff; /* Sarlavhalar rangi */

  /* Gray / Border - Dark Mode */
  --light-gray: #778da9; /* Yengil kul-ko‘k border */
  --gray: #1b263b; /* Asosiy border orqa fon bilan bir xil */

  /* Text - Dark Mode */
  --text-white: #0d1b2a; /* Fon bilan uyg‘un, lekin teskari */
  --text-black: #ffffff; /* Yorqin matn */
  ---icon: #ffffff;

  /* Gradient uchun ranglar (dark mode) */
  --gradient-from: var(--tertiary-color); /* #415a77 */
  --gradient-via: var(--secondary-color); /* #1b263b */
  --gradient-to: var(--primary-color); /* #0d1b2a */
}
